<h1 class="text-3xl">About</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quam
    sapien, blandit sed rutrum in, iaculis quis dolor. Donec semper condimentum
    diam, ut rhoncus purus. Cras tempor nulla in condimentum faucibus. Vivamus
    efficitur ornare nulla. Sed et est viverra, facilisis ipsum eu, bibendum
    diam. Nulla facilisi. Pellentesque non pharetra mi. In finibus ante eu est
    posuere consectetur. Etiam venenatis tincidunt ex, sit amet tristique ipsum
    mollis non. Fusce quis feugiat nisi, non efficitur quam. Phasellus
    consequat, turpis id blandit porta, ante purus sodales augue, id faucibus
    magna leo eget ipsum. Aenean vitae vehicula nibh, in vulputate erat. Aliquam
    pharetra odio vel consectetur volutpat. Sed ut arcu in metus laoreet rhoncus
    in sed nulla. Praesent feugiat viverra lectus, sed blandit felis. Nam
    aliquam eleifend tristique. Etiam quis elit turpis. Mauris id lobortis
    lorem. Morbi commodo iaculis nunc elementum condimentum. Fusce elit velit,
    facilisis sed vestibulum ut, ornare eu diam. Pellentesque fringilla nibh id
    neque hendrerit iaculis. Pellentesque tortor sem, sodales sit amet aliquet
    convallis, eleifend id libero. Quisque sed nisl eu arcu iaculis
    pellentesque. Maecenas et dolor eleifend, cursus tortor nec, bibendum risus.
    Mauris id est at mauris dapibus sodales sed quis nisl. Quisque urna turpis,
    dignissim eu facilisis a, commodo sed felis.
  </p>
</section>
